
<div class="container mt-5 border pt-4 pb-4 pl-4 pr-4">
  <div class="row">
    <!-- Search form -->
    <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" (ngSubmit)="buscar()"  [formGroup]="formUsuario" >
      <input class="form-control form-control-sm mr-3 w-75" type="text"
        placeholder="Buscar"
        formControlName="buscar"
        aria-label="Search">
      <i class="fas fa-search" aria-hidden="true"></i>
      <button type="submit" class="btn btn-primary ml-2">Buscar</button>
    </form>
    <div class="container">
      <p>Usuario</p>
      <ul class="list-group">
        <li class="list-group-item">Nombre: {{ instanciaUsuario.nombre }}</li>
        <li class="list-group-item">Apellido: {{ instanciaUsuario.apellido }}</li>
        <li class="list-group-item">Cedula: {{ instanciaUsuario.cedula }}</li>
        <li class="list-group-item">Canton: {{ instanciaUsuario.canton }}</li>
        <li class="list-group-item">Provincia: {{ instanciaUsuario.provincia }}</li>
        <li class="list-group-item">Parroquia: {{ instanciaUsuario.parroquia }}</li>
        <li class="list-group-item">Centro de vacunación: {{ instanciaUsuario.centrovacunacion }}</li>
      </ul>
    </div>
    <!-- <div class="container" *ngIf="!usuarioEncontrado">
      <div class="alert alert-danger" role="alert">
        USUARIO NO ENCONTRADO
      </div>
    </div> -->
  </div>
</div>
